.place__button {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content:center;
  /* text-align: center; */
  grid-area: button;
  padding: 13px 20px;
  /* gap: 10px; */
  width: 304px;
  /* height: 48px; */
  /* left: 148px;
  top: 3119px; */
  background: #0278fe;
  border-radius: 4px;
}
