.place__paragraph {
  position: absolute;
  width: 484px;
  height: 232px;
  left: 648px;
  top: 2611px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #ffffff;
}

.place__paragraph:nth-child(6) {
  position: absolute;
  width: 484px;
  height: 261px;
  left: 648px;
  top: 2835px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #ffffff;
}
