.intro__text {
  left: 148px;
  top: 1425px;
  position: absolute;
  width: 758px;
  height: 170px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */
  color: #ffffff;
}

.intro__text:nth-child(3) {
  width: 720px;
  height: 34px;
  left: 148px;
  top: 1553px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  /* identical to box height, or 142% */
  text-align: right;
  color: #ffffff;
}

.intro__text:nth-child(4) {
  width: 720px;
  height: 208px;
  left: 148px;
  top: 1603px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */
  color: #ffffff;
}
