.place {
    /* position: absolute; */
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
        'title website'
        'image paragraph1'
        'image paragraph2'
        'image paragraph3'
        'button .'
        ;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2em;
    gap: 20px;    
}