.header__title {
  /* position: absolute; */
  width: 793px;
  height: 200px;
  left: 243px;
  top: 194px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */

  text-align: center;

  color: #ffffff;
}
