.intro__title {
  /* position: absolute; */
  width: 883px;
  height: 116px;
  /* left: 148px;
  top: 1269px; */
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  /* or 107% */

  color: #ffffff;
}
